<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Forms</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div>
                <h2>Register</h2>

                <form @submit.prevent="register" method="post">
                    <div class="box">
                        <div class="input-box">
                            <label>Name:</label>
                            <input type="text" v-model="user.name" />
                        </div>
                        <div class="error-text">{{ errors.name }}</div>
                    </div>

                    <div class="box">
                        <div class="input-box">
                            <label>Email:</label>
                            <input type="text" v-model="user.email" />
                        </div>
                        <div class="error-text">{{ errors.email }}</div>
                    </div>

                    <div class="submit-button box">
                        <button type="submit">Submit</button>
                    </div>
                </form>


                <div class="form-input-holder" v-show="showFormValues">
                    <h3>Your submission</h3>
                    <p><b>Full Name:</b> {{ user.name }}</p>
                    <p><b>Email:</b> {{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="validate.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                user: {
                    email: '',
                    name: ''
                },
                valid: true,
                success: false,
                errors: {},
                message: null,
                showFormValues: false
            },
            methods: {

                register() {
                    this.errors = {}

                    const validName = validateName(this.user.name);
                    this.errors.name = validName.error;
                    if (this.valid) {
                        this.valid = validName.valid
                    }

                    const validEmail = validateEmail(this.user.email);
                    this.errors.email = validEmail.error;
                    if (this.valid) {
                        this.valid = validEmail.valid
                    }
                    if (this.valid) {
                        this.showFormValues = true;
                    }
                }
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</body>

</html>


<!-- Week 1:
    1. Create Vue instance using Vue CDN and render “Hello World”
    2. Collect user inputs (full-name, email, address) and render them
        
    Note:
        The name field should trigger error when the characters are less 3
        The email field should trigger error if is not a valid email
-->